<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="LOGPATH" value="/log"/>

    <appender name="stdoutlog" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <encoder>
            <pattern>[%date] %-5level [%thread] [%logger %line] - %message%n</pattern>
        </encoder>
    </appender>
    
    <appender name="filelog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${app.logPath}/logs/exceltojson.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date] %-5level [%thread] [%logger] - %message%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdoutlog"/>
        <appender-ref ref="filelog"/>
    </root>
</configuration>